footer
{
  background-color: #ffffff;
  width: auto;
  height: auto;
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  color: black;
}


.navfooter
{
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
}

.ulfooter
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.accueil
{
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  display : flex;
  justify-content: center;
  align-items : center;

}
