body
{
  width: auto;
  height: auto;
  background-color: #ffffff;
border: solid;
border-color : green;
}
header
{
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  color: black;
}
img
{
float: left;
margin-right: 5px;
margin-top: -15px;
width: 130px;
height: 130px;
}
.ulheader
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align : center;
  padding-right: 5px;
  margin-right: 5px;
  padding-left : 5px;
  margin-left: 5px;
  margin-top: 30px;
}

.formation
{
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  color: black;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
  color: blue;
}

a: visited:
{
  text-decoration: none;
}

element
{
  background-color: #ffffff;
  width: auto;
  height: auto;
border: solid;
border-color : black;
display: flex;
justify-content: space-between;
}

article
{
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  color: black;
  width: 30%;
text-align: left;
margin-left: 2%;
margin-right: 2%;
border : solid;
border-color: orange;
}

.index2
{
  margin-left: 2%;
  margin-right: 2%;
}

.pro
{
  width: 100%;
}
ul
{
list-style-type: none;
}
.description
{
  list-style-type: circle;
}

.xppro
{
  list-style-type: square;
}

h1
{
text-align: center;
}

.accueil
{

}



.contact
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.h1contact
{

}


footer
{
  background-color: #ffffff;
  width: auto;
  height: auto;
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  color: black;
}


.navfooter
{
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
}

.ulfooter
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.accueil
{
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  display : flex;
  justify-content: center;
  align-items : center;

}
